## Import libraries

In [491]:
import pandas as pd
import numpy as np
from numpy import random

In [492]:
laptop_data = pd.read_csv('/datasets/LaptopsPrice.csv')

In [493]:
laptop_data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Adding new column to specify if expensive

In [494]:
is_expensive = laptop_data["Final Price"] > 2000
laptop_data["Expensive"] = is_expensive
laptop_data

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price,Expensive
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00,False
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00,False
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00,False
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00,False
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2155,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99,True
2156,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99,True
2157,Razer Blade 17 FHD 360Hz Intel Core i7-11800H/...,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99,True
2158,Razer Book 13 Intel Evo Core i7-1165G7/16GB/1T...,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,NaN,13.4,Yes,1899.99,False
2159,Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/...,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,NaN,13.4,Yes,1699.99,False

#### Feature encoding

In [495]:
laptop_data['Expensive'] = laptop_data['Expensive'].astype(int)
laptop_data.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price,Expensive
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00,0
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00,0
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00,0
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00,0
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01,0

In [496]:
apple_hp_laptops = laptop_data[(laptop_data["Brand"] == "Apple") | (laptop_data["Brand"] == "HP")]

In [497]:
apple_hp_laptops.value_counts('Brand')

Brand
HP       368
Apple    116
Name: count, dtype: int64

### Filter out cheap (final price<=1200) laptops of Apple and HP

In [498]:
apple_hp_laptops

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price,Expensive
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01,0
9,HP Victus 16-d1038ns Intel Core i7-12700H/16GB...,New,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,16.1,No,1149.00,0
15,HP 15S-FQ5013NS Intel Core i5-1235U/8GB/512GB ...,New,HP,15S,Intel Core i5,8,512,SSD,NaN,15.6,No,699.00,0
17,HP 15S-FQ2163NS Intel Core i3-1115G4/8GB/512GB...,New,HP,15S,Intel Core i3,8,512,SSD,NaN,15.6,No,549.00,0
27,HP Victus 15-fa0012ns Intel Core i5-12500H/16G...,New,HP,Victus,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,999.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921,HP Victus 16-e0030ns AMD Ryzen 5 5600H/16GB/51...,Refurbished,HP,Victus,AMD Ryzen 5,16,512,SSD,RTX 3050,16.1,No,735.84,0
1922,HP ZBook Firefly 14 G8 Intel Core i7-1165G7/16...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,NaN,14.0,No,1619.46,0
1923,HP ZBook Firefly 15 G8 Intel Core i7-1165G7/16...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,T 500,15.6,No,2677.83,1
1924,HP ZBook Fury G8 Intel Core i7-11800H/16 GB/51...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,RTX A3000,15.6,No,3848.01,1
1925,HP ZBook Fury G8 Intel Core i9-11900H/32GB/1TB...,Refurbished,HP,Zbook,Intel Core i9,32,1000,SSD,NaN,15.6,No,4805.65,1

#### Adding new column based on the condition/status of laptop

In [499]:
conditions = [apple_hp_laptops["Status"] == "New", apple_hp_laptops["Status"] == "Refurbished"]
values = ["NE", "RE"]

laptops_condition = np.select(conditions, values, "NA")

In [500]:
apple_hp_laptops["Condition"] = laptops_condition
apple_hp_laptops

C:\Users\alimu\AppData\Local\Temp\ipykernel_17292\1753600394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple_hp_laptops["Condition"] = laptops_condition

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price,Expensive,Condition
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01,0,NE
9,HP Victus 16-d1038ns Intel Core i7-12700H/16GB...,New,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,16.1,No,1149.00,0,NE
15,HP 15S-FQ5013NS Intel Core i5-1235U/8GB/512GB ...,New,HP,15S,Intel Core i5,8,512,SSD,NaN,15.6,No,699.00,0,NE
17,HP 15S-FQ2163NS Intel Core i3-1115G4/8GB/512GB...,New,HP,15S,Intel Core i3,8,512,SSD,NaN,15.6,No,549.00,0,NE
27,HP Victus 15-fa0012ns Intel Core i5-12500H/16G...,New,HP,Victus,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,999.00,0,NE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1921,HP Victus 16-e0030ns AMD Ryzen 5 5600H/16GB/51...,Refurbished,HP,Victus,AMD Ryzen 5,16,512,SSD,RTX 3050,16.1,No,735.84,0,RE
1922,HP ZBook Firefly 14 G8 Intel Core i7-1165G7/16...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,NaN,14.0,No,1619.46,0,RE
1923,HP ZBook Firefly 15 G8 Intel Core i7-1165G7/16...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,T 500,15.6,No,2677.83,1,RE
1924,HP ZBook Fury G8 Intel Core i7-11800H/16 GB/51...,Refurbished,HP,Zbook,Intel Core i7,16,512,SSD,RTX A3000,15.6,No,3848.01,1,RE
1925,HP ZBook Fury G8 Intel Core i9-11900H/32GB/1TB...,Refurbished,HP,Zbook,Intel Core i9,32,1000,SSD,NaN,15.6,No,4805.65,1,RE

In [501]:
apple_hp_laptops.describe()

              RAM      Storage      Screen  Final Price   Expensive
count  484.000000   484.000000  483.000000   484.000000  484.000000
mean    12.223140   486.297521   15.016356  1102.565475    0.092975
std      6.636355   267.860989    1.148118   785.080830    0.290698
min      4.000000    32.000000   11.600000   210.140000    0.000000
25%      8.000000   256.000000   14.000000   556.037500    0.000000
50%      8.000000   512.000000   15.600000   829.260000    0.000000
75%     16.000000   512.000000   15.600000  1456.027500    0.000000
max     32.000000  2000.000000   17.300000  5368.770000    1.000000

In [502]:
conditions = [(apple_hp_laptops["Screen"] > 10) & (apple_hp_laptops["Screen"] < 14),
              (apple_hp_laptops["Screen"] >= 14) & (apple_hp_laptops["Screen"] < 17),
              (apple_hp_laptops["Screen"] >=17)]
values = ["Small", "Medium", "Large"]

laptop_sizes = np.select(conditions, values, "N/A")
apple_hp_laptops['Overall_size'] = laptop_sizes

apple_hp_laptops.value_counts("Overall_size")

C:\Users\alimu\AppData\Local\Temp\ipykernel_17292\510788923.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple_hp_laptops['Overall_size'] = laptop_sizes

Overall_size
Medium    372
Small      98
Large      13
N/A         1
Name: count, dtype: int64

In [503]:
new_indices = np.arange(0, len(apple_hp_laptops), 1, dtype=int)
apple_hp_laptops["new_indices"] = new_indices

apple_hp_laptops.set_index("new_indices", inplace=True)

C:\Users\alimu\AppData\Local\Temp\ipykernel_17292\2564047044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apple_hp_laptops["new_indices"] = new_indices

In [504]:
del apple_hp_laptops["Status"]
del apple_hp_laptops["Laptop"]
del apple_hp_laptops["Screen"]

In [505]:
apple_hp_laptops.head()

,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Touch,Final Price,Expensive,Condition,Overall_size
new_indices,,,,,,,,,,,,
0,HP,15S,Intel Core i5,16,512,SSD,NaN,No,669.01,0,NE,Medium
1,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,No,1149.00,0,NE,Medium
2,HP,15S,Intel Core i5,8,512,SSD,NaN,No,699.00,0,NE,Medium
3,HP,15S,Intel Core i3,8,512,SSD,NaN,No,549.00,0,NE,Medium
4,HP,Victus,Intel Core i5,16,512,SSD,RTX 3050,No,999.00,0,NE,Medium

### Filtering out HP laptops with GPU GTX 1650 or RTX 3050: using isin()

In [506]:
apple_hp_laptops

,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Touch,Final Price,Expensive,Condition,Overall_size
new_indices,,,,,,,,,,,,
0,HP,15S,Intel Core i5,16,512,SSD,NaN,No,669.01,0,NE,Medium
1,HP,Victus,Intel Core i7,16,512,SSD,RTX 3050,No,1149.00,0,NE,Medium
2,HP,15S,Intel Core i5,8,512,SSD,NaN,No,699.00,0,NE,Medium
3,HP,15S,Intel Core i3,8,512,SSD,NaN,No,549.00,0,NE,Medium
4,HP,Victus,Intel Core i5,16,512,SSD,RTX 3050,No,999.00,0,NE,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...
479,HP,Victus,AMD Ryzen 5,16,512,SSD,RTX 3050,No,735.84,0,RE,Medium
480,HP,Zbook,Intel Core i7,16,512,SSD,NaN,No,1619.46,0,RE,Medium
481,HP,Zbook,Intel Core i7,16,512,SSD,T 500,No,2677.83,1,RE,Medium
482,HP,Zbook,Intel Core i7,16,512,SSD,RTX A3000,No,3848.01,1,RE,Medium
483,HP,Zbook,Intel Core i9,32,1000,SSD,NaN,No,4805.65,1,RE,Medium

In [507]:
first_cond = apple_hp_laptops["Brand"] == "HP"
second_cond = apple_hp_laptops["GPU"].isin(["GTX 1650", "RTX 3050"])
final_condition = first_cond & second_cond

hp_laptops = apple_hp_laptops[final_condition]
hp_laptops = pd.DataFrame(hp_laptops[["Brand", "Model", "Expensive", "Condition", "Overall_size", "Final Price"]])

### Finding the cheapest one for each size HP laptop

#### Sorting in ascending order based on Final Price

In [508]:
hp_laptops.sort_values("Final Price", inplace=True)
hp_laptops

            Brand     Model  Expensive Condition Overall_size  Final Price
new_indices
466            HP  Pavilion          0        RE       Medium       621.54
478            HP    Victus          0        RE       Medium       624.78
468            HP  Pavilion          0        RE       Medium       641.14
470            HP  Pavilion          0        RE        Large       663.38
463            HP      Omen          0        RE       Medium       676.84
479            HP    Victus          0        RE       Medium       735.84
380            HP    Victus          0        NE       Medium       792.65
376            HP    Victus          0        NE       Medium       812.52
268            HP    Victus          0        RE       Medium       829.19
459            HP      Omen          0        RE       Medium       829.33
250            HP    Victus          0        NE       Medium       845.48
378            HP    Victus          0        NE       Medium       865.40
372            HP    Victus          0        NE       Medium       899.01
379            HP    Victus          0        NE       Medium       998.56
4              HP    Victus          0        NE       Medium       999.00
24             HP    Victus          0        NE       Medium       999.00
25             HP    Victus          0        NE       Medium      1039.00
103            HP    Victus          0        NE       Medium      1049.99
42             HP    Victus          0        NE       Medium      1099.00
212            HP    Victus          0        NE       Medium      1120.00
1              HP    Victus          0        NE       Medium      1149.00
18             HP      Omen          0        NE       Medium      1149.00
73             HP    Victus          0        NE       Medium      1149.00
375            HP    Victus          0        NE       Medium      1192.98
22             HP    Victus          0        NE       Medium      1199.00
373            HP    Victus          0        NE       Medium      1220.78
64             HP    Victus          0        NE       Medium      1299.01
374            HP    Victus          0        NE       Medium      1301.00
137            HP    Victus          0        NE       Medium      1329.51
57             HP      Omen          0        NE       Medium      1399.00
280            HP    Victus          0        NE       Medium      1438.68
95             HP    Victus          0        NE       Medium      1629.00

#### Removing duplicates

In [509]:
hp_laptops = hp_laptops[~hp_laptops.duplicated(["Model", "Overall_size"], keep="first")]

In [510]:
hp_laptops

            Brand     Model  Expensive Condition Overall_size  Final Price
new_indices
466            HP  Pavilion          0        RE       Medium       621.54
478            HP    Victus          0        RE       Medium       624.78
470            HP  Pavilion          0        RE        Large       663.38
463            HP      Omen          0        RE       Medium       676.84